<form name="gameGeneralInfoForm" [formGroup]="gameGeneralInfoForm" class="w-100-p" fxLayout="column"
  class="mat-white-bg mr-24 mb-24">


  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" readonly matInput name="approved" formControlName="approved"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.APPROVAL_STATE' | translate}}">
  </mat-form-field>

  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.approvedTimestamp" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" readonly matInput name="approvedIn" formControlName="approvedIn"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.APPROVED_IN' | translate}}">
  </mat-form-field>

  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.approvedUsername" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off"  readonly matInput name="approvalUsername" formControlName="approvalUsername"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.APPROVAL_USERNAME' | translate}}">
  </mat-form-field>

  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.approvedNotes" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off"  readonly matInput name="approvalNotes" formControlName="approvalNotes"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.APPROVAL_NOTES' | translate}}">
  </mat-form-field>

  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.revokedTimestamp" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off"  readonly matInput name="revokedIn" formControlName="revokedIn"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.REVOKED_IN' | translate}}">
  </mat-form-field>


  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.revokedUsername" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off"  readonly matInput name="revokedUsername" formControlName="revokedUsername"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.REVOKED_USERNAME' | translate}}">
  </mat-form-field>

  <mat-form-field *ngIf="selectedConfigSheet && selectedConfigSheet.revokedNotes" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" readonly matInput name="revokedNotes" formControlName="revokedNotes"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.REVOKED_NOTES' | translate}}">
  </mat-form-field>
  <div class="mt-16" *ngIf="isApproveButtonsAllowed()">
    <button *ngIf="selectedConfigSheet && selectedConfigSheet.approved === 'PENDING'" (click)="approveSheetConfig()" mat-raised-button style="margin-right: 10px" color="primary">
      {{'LOTTERY.DETAILS.CONFIG_SHEET.APPROVE' | translate}}
    </button>
    <button *ngIf="selectedConfigSheet && selectedConfigSheet.approved === 'PENDING'" (click)="declineSheetConfig()" mat-raised-button style="margin-right: 10px" color="warn">
      {{'LOTTERY.DETAILS.CONFIG_SHEET.DECLINE' | translate}}
    </button>
    <button *ngIf="selectedConfigSheet && selectedConfigSheet.approved === 'APPROVED' && !selectedConfigSheet.revoked" (click)="revokeSheetConfig()" mat-raised-button style="margin-right: 10px" color="warn">
      {{'LOTTERY.DETAILS.CONFIG_SHEET.REVOKE' | translate}}
    </button>
  </div>
</form>
