<form name="prizeProgramForm" [formGroup]="prizeProgramForm" class="w-100-p" fxLayout="column"
  class="mat-white-bg mr-24 mb-24">


  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="totalPrize"
      formControlName="totalPrize"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.TOTAL_PRIZE' | translate}}"
      currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
      [(ngModel)]="totalPrize"
      (ngModelChange)="totalPrizeChanged($event)">
    <mat-error *ngIf="prizeProgramForm.hasError('required', ['totalPrize'])">
      {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="paymentPrize"
     formControlName="paymentPrize"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.TOTAL_PAYMENT' | translate}}"
       currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
       [(ngModel)]="paymentPrize"
       (ngModelChange)="paymentPrizeChanged($event)">
    <mat-error *ngIf="prizeProgramForm.hasError('required', ['paymentPrize'])">
      {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

</form>
