@import "src/app/core/scss/fuse";


.border {
  margin-top: 5px;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
}

.number-serie-input{
  background: rgb(79, 138, 172);
  border-radius: 10px;
}

.title {
  width: 120px;
  margin-top: -10px;
  margin-left: 10px;
  padding-left: 10px;
  background: white;
}

.content {
  margin: 10px;
  background: peru;
}

.grand-prize section {
  border-style: solid;
  border-radius: 10px;
}


input {
  text-align: center;
}
