<form name="prizeProgramForm" [formGroup]="prizeProgramForm" class="w-100-p" fxLayout="column"
  class="mat-white-bg mr-24 mb-24">

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100"  fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="name" formControlName="name" maxlength="100"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.NAME' | translate}}"
      (ngModelChange)="nameChanged($event)">
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="duoTotal"
      formControlName="duoTotal"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.DUO_TOTAL' | translate}}"
      currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
      [(ngModel)]="duoTotal"
      (ngModelChange)="duoTotalChanged($event)">
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="duoPayment"
     formControlName="duoPayment"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.DUO_PAYMENT' | translate}}"
       currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
       [(ngModel)]="duoPayment"
       (ngModelChange)="duoPaymentChanged($event)">
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="singleTotal"
      formControlName="singleTotal"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.SINGLE_TOTAL' | translate}}"
      currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
      [(ngModel)]="singleTotal"
      (ngModelChange)="singleTotalChanged($event)">
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="singlePayment"
     formControlName="singlePayment"
      maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.SINGLE_PAYMENT' | translate}}"
       currencyMask
      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
       [(ngModel)]="singlePayment"
       (ngModelChange)="singlePaymentChanged($event)">
  </mat-form-field>

</form>
