<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">


  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef fxFlex="80">
      <h3 matSubheader>{{'LOTTERY.DETAILS.PRIZE_PROGRAM.NAME' | translate}}</h3>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let secondaryPrize" fxFlex="80">
      <span style="margin-left: 20px">{{secondaryPrize.name}}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="quantity">
    <mat-header-cell *cdkHeaderCellDef fxFlex="80" fxHide.lt-sm>
      <h3 matSubheader>{{'LOTTERY.DETAILS.PRIZE_PROGRAM.QUANTITY' | translate}}</h3>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let secondaryPrize" fxHide.lt-sm fxFlex="80">
      <span style="margin-left: 20px">{{secondaryPrize.quantity}}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="total">
    <mat-header-cell *cdkHeaderCellDef fxFlex="80" fxHide.lt-sm>
      <h3 matSubheader>{{'LOTTERY.DETAILS.PRIZE_PROGRAM.TOTAL_PRIZE' | translate}}</h3>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let secondaryPrize" fxHide.lt-sm fxFlex="80">
      <span style="margin-left: 20px">{{secondaryPrize.total | currency: 'COP':'$'}}</span>
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="manage-buttons">
    <mat-header-cell *cdkHeaderCellDef fxFlex="80">
      <button style="margin-left: 10px" color="add-button-color" (click)="createSecondaryPrize()" mat-mini-fab>
        <mat-icon>note_add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let secondaryPrize" fxFlex="80">
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell style="width: 100%" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div style="width: 100%" class="example-element-description">
          <form name="secondaryPrizeForm" [formGroup]="secondaryPrizeForm" class="w-100-p" fxLayout="column"
            class="mat-white-bg mr-24 mb-24">
            <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
              <input matInput name="name" formControlName="name" maxlength="100"
                placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.NAME' | translate}}">
              <mat-error *ngIf="secondaryPrizeForm.hasError('required', ['name'])">
                {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-slide-toggle style="margin-left: 5px" #serieSlide (change)="changeWithSerie()" [checked]="withSerie">
              {{'LOTTERY.DETAILS.PRIZE_PROGRAM.WITH_SERIE' | translate}}</mat-slide-toggle>

            <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
              <input matInput name="quantity" formControlName="quantity" autocomplete="off" maxlength="3"
                placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.QUANTITY' | translate}}" (keypress)="numberOnly($event)">
              <mat-error *ngIf="secondaryPrizeForm.hasError('required', ['quantity'])">
                {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
              <input matInput name="totalPrize" formControlName="totalPrize" autocomplete="off" maxlength="15"
                placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.TOTAL_PRIZE' | translate}}" currencyMask
                [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }" [(ngModel)]="totalPrize">
              <mat-error *ngIf="secondaryPrizeForm.hasError('required', ['totalPrize'])">
                {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
              <input matInput name="paymentPrize" formControlName="paymentPrize" autocomplete="off" maxlength="15"
                placeholder="{{'LOTTERY.DETAILS.PRIZE_PROGRAM.TOTAL_PAYMENT' | translate}}" currencyMask
                [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }" [(ngModel)]="paymentPrize">
              <mat-error *ngIf="secondaryPrizeForm.hasError('required', ['paymentPrize'])">
                {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
              </mat-error>
            </mat-form-field>

            <div class="mt-16" *ngIf="showManageButtons">
              <button mat-raised-button style="margin-right: 10px"
              [disabled]="secondaryPrizeForm.invalid"
              (click)="editSecondaryPrize(element)">
                {{'LOTTERY.EDIT' | translate}}
              </button>
              <button mat-raised-button (click)="removeSecondaryPrize(element)" style="margin-right: 10px" color="warn">
                {{'LOTTERY.REMOVE_TITLE' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="showDetailTable(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
