<div class="page-layout simple right-sidenav single-scroll" fusePerfectScrollbar>

  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- HEADER -->
      <div class="p-12" style="height: 30px; margin-top: 30px" fxLayout="row" fxLayoutAlign="start center">

        <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="simple-right-sidenav-2"
          fxHide.gt-md>
          <mat-icon>menu</mat-icon>
        </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content p-12 mat-white-bg" [style.height.px]="heightContent">

        <form name="gameGeneralInfoForm" [formGroup]="gameGeneralInfoForm" class="w-100-p" fxLayout="column"
          class="mat-white-bg mr-24 mb-24">

          <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
            <input matInput name="ticketsPerSheet" formControlName="ticketsPerSheet" maxlength="15"
              placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.TICKETS_PER_SHEET' | translate}}">
            <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['ticketsPerSheet'])">
              {{'LOTTERY.DETAILS.CONFIG_SHEET.LOTTERY_FIELD_REQUIRED' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
            <input matInput name="ticketPrice" formControlName="ticketPrice" maxlength="15"
              placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.TIKET_PRICE' | translate}}">
            <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['ticketPrice'])">
              {{'LOTTERY.DETAILS.CONFIG_SHEET.LOTTERY_FIELD_REQUIRED' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
            <input matInput name="validFromDraw" formControlName="validFromDraw" maxlength="15"
              placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.VALID_FROM_DRAW' | translate}}">
            <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['validFromDraw'])">
              {{'LOTTERY.DETAILS.CONFIG_SHEET.LOTTERY_FIELD_REQUIRED' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
            <input matInput name="validUntilDraw" formControlName="validUntilDraw" maxlength="15"
              placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.VALID_UNTIL_DRAW' | translate}}">
          </mat-form-field>

          <div class="mt-16">
            <button mat-raised-button *ngIf="pageType === 'new'" (click)="createGame()"
              [disabled]="gameGeneralInfoForm.invalid || gameGeneralInfoForm.pristine">
              {{'LOTTERY.CREATE' | translate}}
            </button>
            <button mat-raised-button *ngIf="pageType === 'edit'" (click)="updateGameGeneralInfo()"
              [disabled]="gameGeneralInfoForm.invalid">
              {{'LOTTERY.UPDATE' | translate}}
            </button>
          </div>

        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav  p-24" align="start" opened="true" mode="side"
      fuseMatSidenavHelper="simple-right-sidenav-2" mat-is-locked-open="gt-md">

      <div class="demo-sidenav">
        <mat-list>
            <h3 matSubheader>{{'LOTTERY.DETAILS.CONFIG_SHEET.SHEET_CONFIG_VERSIONS' | translate}}</h3>

            <mat-list-item>
                <span>Sidenav Item 1</span>
            </mat-list-item>

        </mat-list>
    </div>

    </mat-sidenav>
    <!-- / SIDENAV -->

  </mat-sidenav-container>

</div>
