<form name="gameGeneralInfoForm" [formGroup]="gameGeneralInfoForm" class="w-100-p" fxLayout="column"
  class="mat-white-bg mr-24 mb-24">

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="ticketsPerSheet" formControlName="ticketsPerSheet" (keypress)="numberOnly($event)" inputmode="numeric" maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.TICKETS_PER_SHEET' | translate}}">
    <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['ticketsPerSheet'])">
      {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="ticketPrice"
    formControlName="ticketPrice"
    maxlength="15"
    placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.TIKET_PRICE' | translate}}"
    currencyMask
    [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
    [(ngModel)]="ticketPrice"
    >
    <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['ticketPrice'])">
      {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="validFromDraw" formControlName="validFromDraw" maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.VALID_FROM_DRAW' | translate}}">
    <mat-error *ngIf="gameGeneralInfoForm.hasError('required', ['validFromDraw'])">
      {{'LOTTERY.LOTTERY_FIELD_REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
    <input  autocomplete="off" matInput name="validUntilDraw" formControlName="validUntilDraw" maxlength="15"
      placeholder="{{'LOTTERY.DETAILS.CONFIG_SHEET.VALID_UNTIL_DRAW' | translate}}">
  </mat-form-field>

  <div class="mt-16" *ngIf="isGeneralInfoButtonsAllowed()">
      <button mat-raised-button style="margin-right: 10px"
      [disabled]="gameGeneralInfoForm.invalid"
      (click)="createConfigSheet()"
      *ngIf="showSaveButton">
        {{'LOTTERY.UPDATE' | translate}}
      </button>
      <button mat-raised-button (click)="duplicateSelected()" style="margin-right: 10px" color="primary" *ngIf="showDuplicateButton">
        {{'LOTTERY.DETAILS.CONFIG_SHEET.DUPLICATE' | translate}}
      </button>
    </div>

</form>
