<div class="page-layout simple right-sidenav single-scroll" fusePerfectScrollbar>

  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

      <!-- HEADER -->
      <div class="p-12" style="height: 30px; margin-top: 30px; width: 100%" fxLayout="row" fxLayoutAlign="start center">

        <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="simple-right-sidenav-2"
          fxHide.gt-md>
          <mat-icon>menu</mat-icon>
        </button>
        <h3 *ngIf="selectedPrizeProgram" matSubheader>
          {{'LOTTERY.DETAILS.PRIZE_PROGRAM.PRIZE_PROGRAM_VERSION' | translate}}: {{selectedPrizeProgram.version}} </h3>
        <button mat-raised-button style="margin-left:auto; margin-right:0;" *ngIf="!selectedPrizeProgram || selectedPrizeProgram.approved === 'APPROVED'" (click)="clearSelected()">
            {{'LOTTERY.DETAILS.PRIZE_PROGRAM.CREATE_VERSION' | translate}}
        </button>
      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content p-12 mat-white-bg" [style.height.px]="heightContent">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'LOTTERY.DETAILS.PROGRAM' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <game-prize-program-general-info [game]="game" [selectedPrizeProgram]="selectedPrizeProgram">
            </game-prize-program-general-info>

          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="selectedPrizeProgram">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'LOTTERY.DETAILS.PRIZE_PROGRAM.APPROVAL_INFO' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <game-prize-program-approval-info [selectedPrizeProgram]="selectedPrizeProgram"></game-prize-program-approval-info>

          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="selectedPrizeProgram && selectedPrizeProgram.creationTimestamp">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'LOTTERY.DETAILS.PRIZE_PROGRAM.METADATA' | translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <game-prize-program-metadata [selectedPrizeProgram]="selectedPrizeProgram"></game-prize-program-metadata>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav  p-24" align="start" opened="true" mode="side"
      fuseMatSidenavHelper="simple-right-sidenav-2" mat-is-locked-open="gt-md">

      <div class="demo-sidenav">
        <mat-table id="entity-table" class="item-table" #table [dataSource]="dataSource" fusePerfectScrollbar>

          <!-- Name Column -->
          <ng-container cdkColumnDef="version">
            <mat-header-cell *cdkHeaderCellDef fxFlex="80">
              <h3 matSubheader>{{'LOTTERY.DETAILS.PRIZE_PROGRAM.PRIZE_PROGRAM_VERSIONS' | translate}}</h3>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let prizeProgram" fxFlex="80">
              <span>{{prizeProgram.version}} : {{(prizeProgram.revoked ? 'LOTTERY.DETAILS.PRIZE_PROGRAM.REVOKED'
                : prizeProgram.approved === null ? 'LOTTERY.DETAILS.PRIZE_PROGRAM.PENDING'
                        : 'LOTTERY.DETAILS.PRIZE_PROGRAM.'+prizeProgram.approved) | translate}}</span>
            </mat-cell>
          </ng-container>


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *cdkRowDef="let row; columns: displayedColumns" class="selectedElement"
            (click)="selectPrizeProgramRow(row)" [ngClass]="{
                  highlight:
                  selectedPrizeProgram &&
                  selectedPrizeProgram._id == row._id
                }" matRipple>
          </mat-row>
        </mat-table>
      </div>

    </mat-sidenav>
    <!-- / SIDENAV -->

  </mat-sidenav-container>

</div>
