<div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>

    <form name="msentitycamelGeneralInfoForm" [formGroup]="msentitycamelGeneralInfoForm" class="w-100-p"
      fxLayout="column" class="mat-white-bg p-24 mr-24 mb-24">

      <div fxFlex="100" class="mb-12 mt-12" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign.gt-xs="space-around start" fxLayoutAlign="center start">
        <div fxFlex.gt-xs="100" fxFlex="100" class="h2">{{'msnameuppercase.DETAILS.GENERAL_INFO' | translate}}</div>
        <form fxFlex="50" fxFlex.gt-xs="50" fxLayoutAlign="end center" *ngIf="msentitycamelStateForm" name="msentitycamelStateForm" [formGroup]="msentitycamelStateForm">
          <mat-slide-toggle formControlName="state" color="accent" (change)="onmsentitypascalStateChange($event)">
            <label *ngIf="msentitycamelStateForm.controls['state'].value">{{'msnameuppercase.DETAILS.ENABLED' | translate}}</label>
            <label *ngIf="!msentitycamelStateForm.controls['state'].value">{{'msnameuppercase.DETAILS.DISABLED' | translate}}</label>
          </mat-slide-toggle>
        </form>
      </div>

      <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
        <input matInput name="name" formControlName="name" maxlength="15" placeholder="{{'msnameuppercase.DETAILS.NAME' | translate}}">
        <mat-error *ngIf="msentitycamelGeneralInfoForm.hasError('required', ['name'])">
          {{'msnameuppercase.NAME_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
        <textarea matInput matTextareaAutosize name="description" formControlName="description"
          maxlength="350" placeholder="{{'msnameuppercase.DETAILS.DESCRIPTION' | translate}}"
          matAutosizeMinRows="1" matAutosizeMaxRows="5" >
        </textarea>
        <mat-error *ngIf="msentitycamelGeneralInfoForm.hasError('required', ['description'])">
          {{'msnameuppercase.DESCRIPTION_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>


      <mat-divider *ngIf="msentitycamel && msentitycamel.creatorUser " fxFlex="100" class="mt-16 mb-4" ></mat-divider>

      <!-- CREATED BY -->
      <mat-form-field *ngIf="msentitycamel && msentitycamel.creatorUser" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
        <input matInput readonly placeholder="{{'msnameuppercase.DETAILS.CREATED_BY' | translate}}" value= "{{ msentitycamel.creatorUser }}">
      </mat-form-field>
      <!-- CREATED BY -->

      <!-- CREATED IN -->
      <mat-form-field *ngIf="msentitycamel  && msentitycamel.creationTimestamp" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
          <input matInput readonly placeholder="{{'msnameuppercase.DETAILS.CREATED_IN' | translate}}" value="{{ msentitycamel.creationTimestamp | date: 'dd/MM/y HH:mm:ss' }}">
      </mat-form-field>
      <!-- CREATED IN -->

      <!-- EDITED BY -->
      <mat-form-field *ngIf="msentitycamel && msentitycamel.modifierUser" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
          <input matInput readonly placeholder="{{'msnameuppercase.DETAILS.EDITED_BY' | translate}}" value= "{{ msentitycamel.modifierUser }}">
      </mat-form-field>
      <!-- EDITED BY -->

      <!-- EDITED IN -->
      <mat-form-field *ngIf="msentitycamel && msentitycamel.modificationTimestamp" fxFlex.gt-xs="50" fxFlex="100" fxLayout="column" class="pr-8 pl-8">
          <input matInput readonly placeholder="{{'msnameuppercase.DETAILS.EDITED_IN' | translate}}" value="{{ msentitycamel.modificationTimestamp | date: 'dd/MM/y HH:mm:ss' }}">
      </mat-form-field>
      <!-- EDITED IN -->


      <div class="mt-16">
        <button mat-raised-button *ngIf="pageType === 'new'" (click)="createmsentitypascal()"
          [disabled]="msentitycamelGeneralInfoForm.invalid || msentitycamelGeneralInfoForm.pristine">
          {{'msnameuppercase.CREATE' | translate}}
        </button>
        <button mat-raised-button *ngIf="pageType === 'edit'" (click)="updatemsentitypascalGeneralInfo()"
          [disabled]="msentitycamelGeneralInfoForm.invalid || msentitycamelGeneralInfoForm.pristine">
          {{'msnameuppercase.UPDATE' | translate}}
        </button>
      </div>

    </form>

</div>
